/*Body and main <div> management*/


body {
    margin: 0;
    display: flex;
    flex-direction: row;
    background: url(images/little-miss-gaming-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


div {
    position: relative;
}


#leftPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50em;
    height: 100vh;
}



#rightPage {
    justify-content: space-around;
    width: 65em;
    padding-left: 10em;
    padding-right: 10em;

}



/*Left page details snow flakes fall*/


#snowFlakes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70vh;
}


#divFlake1 {
    padding-top: 12vh;
}
#divFlake2 {
    padding-top: 26vh;
}
#divFlake3 {
    padding-top: 17vh;
}
#divFlake4 {
    padding-top: 22vh;
}
#divFlake5 {
    padding-top: 10vh;
}
#divFlake6 {
    padding-top: 43vh;
}
#divFlake7 {
    padding-top: 32vh;
}
#divFlake8 {
    padding-top: 3vh;
}
#divFlake9 {
    padding-top: 40vh;
}
#divFlake10 {
    padding-left: 4em;
    padding-top: -4vh;
}


/*Beginning of first part = button "play" and "records"*/

#topOfPage {
    padding-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}


#topOfPage button {
    font-size: 1.5em;
    border-radius: 10%;
    border-width: 0.2em;
    border-style: double;
    border-color: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}


#topOfPage button:hover {
    color: #FCC803;
    border-color: #FCC803;
    border-style: groove;
}


#restart {
    margin-right: 3em;
}




/*Beginning of second Part = block of pictures*/


#pageBottom {
    justify-content: space-around;
}

#pageBottom p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 3em;
}

table {
    background-color: #003366;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 700;
    color: #FFFFFF;
    border: 0.5em solid;
    border-style: double;
    border-radius: 20%;
    border-color: #FFFFFF;
    padding: 1em;
}


table tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


table td {
    height: 110px;
    width: 80px;
    border: .1em solid;
    border-color: #FCC803;
    border-radius: 20%;
    margin: .5em;
}


table img {
    max-height: 110px;
    max-width: 80px;
    opacity: 0.4;
    cursor: pointer;
}



table img.turned {
    opacity: 1;
    pointer-events: none; /* permet d'empecher le double clicque sur une image déjà retournée */
}


table img.validate {
    opacity: 1;
    pointer-events: none; /* permet d'empecher le double clicque sur une image déjà retournée */
}


/*Effect after pairs found*/


.flashWin { /* permet de faire appel au keyframe du même nom pour les couleut tout en donnant des attributs sépcifiques à la classe */
    animation-duration: .5s;
    animation-name: flashWin;
    animation-iteration-count: 1;
    transition: none;    
}
    
@keyframes flashWin { /* permet de créer pour une classe des effets propres */
    from { border-color: #FFFFFF}
    to   { border-color: green}
}


.flashLost {
    animation-duration: .5s;
    animation-name: flashLost;
    animation-iteration-count: 1;
    transition: none;
}
    
@keyframes flashLost { 
    from { border-color: #FFFFFF}
    to   { border-color: red}
}



/*Effect successful level 1*/


#visibleOlaf {
    margin-top: -50em;
    opacity: 0;
}


#visibleOlaf.active {
    opacity: 1;
    transition: 3s;
}



/*Effect successful level 2*/


#visibleMoon {
    opacity: 0;
    margin-bottom: -10em;
}


#visibleMoon.up {
    opacity: 1;
    transition: 3s;
}



/*Effect successful level 3*/


.noSnow {
    opacity: 0;
}


.snow {
    opacity: 1;
    -webkit-animation: flash 1.5s;
	animation: flash 1.5s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}



#finished {
    font-size: 6em;
    font-style: italic;
    font-weight: bold;
    padding-left: 1em;
    display: flex;
    justify-content: left;
    text-decoration: double;
    opacity: 0;
}


#finished.endOfGame {
    opacity: 1;
    animation-duration: .5s;
    animation-name: endOfGameCss;
    animation-iteration-count: infinite;
    transition: none;
}


@keyframes endOfGameCss { 
    from { color: #FFFFFF}
    to   { color: #FCC803}
}