body {
    margin: 0;
    display: flex;
    flex-direction: row;
    background: url(images/little-miss-gaming-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


div {
    position: relative;
}


#leftPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35em;
    height: 100%;
    border: 2px solid;
    border-color: aqua; 
}



#rightPage {
    justify-content: space-around;
    width: 65em;
    border: 2px solid;
    border-color: red;
    padding-left: 10em;
    padding-right: 10em;

}


/*Beginning of first part = button "play" and "records"*/

#topOfPage {
    padding-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}


#topOfPage button {
    font-size: 1.5em;
    border-radius: 10%;
    border-width: 0.2em;
    border-style: double;
    border-color: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}


#topOfPage button:hover {
    color: #FCC803;
    border-color: #FCC803;
    border-style: groove;
}


#play {
    margin-right: 3em;
};


/*Beginning of second Part = block of pictures*/


#pageBottom {
    justify-content: space-around;
    height: 100%;
}

#pageBottom p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 3em;
}

table {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 700;
    color: #FFFFFF;
    border: 0.5em solid;
    border-style: double;
    border-radius: 20%;
    border-color: #FFFFFF;
    padding: 1em;
}


table tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


table img {
    opacity: 0.5;
    border-color: transparent;
    border-radius: 20%;
    margin: 0.5em;
}



table img.turned {
    opacity: 1;
    pointer-events: none; /* permet d'éviter le click si la class est présente dans le code HTML */
}


table img.validate {
    opacity: 1;
    pointer-events: none; /* permet d'éviter le click si la class est présente dans le code HTML */
}


/*Effets after pairs found*/


.flashWin { /* permet de faire appel au keyframe du même nom pour les couleut tout en donnant des attributs sépcifiques à la classe */
    animation-duration: 0.5s;
    animation-name: flashWin;
    animation-iteration-count: infinite;
    transition: none;    
}
    
@keyframes flashWin {
    from { color: #FFFFFF }
    to   { color: #FCC803 }
    to   {font-weight: bold}
}


.flashWrong {
    animation-duration: 0.5s;
    animation-name: flashWin;
    animation-iteration-count: infinite;
    transition: none;    
}
    
@keyframes flashWrong { 
    from { color: #FFFFFF }
    to   { color: red }
}
