body {
    margin: 0;
    display: flex;
    flex-direction: row;
    background: url(images/little-miss-gaming-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


div {
    position: relative;
}


#leftPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30em;
    height: 100%;
    border: 2px solid;
    border-color: aqua; 
}


#rightPage {
    justify-content: space-around;
    width:auto;
    border: 2px solid;
    border-color: red; 
}


/*Beginning of first part = button "jouer" and "palmarès"*/

#topOfPage {
    margin-left: 10em;
    margin-right: 5em;
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}


#topOfPage button {
    font-size: 1.5em;
    border-radius: 10%;
    border-width: 0.2em;
    border-style: double;
    border-color: #FFFFFF;
    padding: 0.2em;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}


#topOfPage button:hover {
    color: #FCC803;
    border-color: #FCC803;
    border-style: groove;
}


#replay {
    margin-right: 3em;
};


/*Beginning of second Part = block of pictures*/


#pageBottom {
    justify-content: space-around;
    height: 100%;
}

#pageBottom table {
    display: flex;
    flex-direction: column;
    margin-left: 35em;
    margin-right: 3em;
    font-size: 1.5em;
    font-weight: 700;
    color: #FFFFFF;
    border: 0.5em solid;
    border-style: double;
    border-radius: 20%;
    border-color: #21177D;
    padding: auto;
}


#options tr td:hover {
    border-color: #FCC803;
}